<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myuni.wyglsys.dao.IComplaintDao">

    <sql id="selectAll">
        select id,resid,resname,content,date,state from tb_complaints
    </sql>
    <select id="findComplaintByIndex" resultType="com.myuni.wyglsys.entity.Complaint">
        <include refid="selectAll"/>
        <where>
            <if test="name != null">
                resname like '%${name}%'
            </if>
            <if test="content != null">
                and content like '%${content}%'
            </if>
            <if test="startDate != null">
                and date >= #{startDate}
            </if>
            <if test="endDate != null">
                and date &lt;= #{endDate}
            </if>
            <if test="state != null">
                and state = #{state}
            </if>
        </where>
        <if test="currentPage != null">
            <if test="pageSize != null">
                limit #{currentPage},#{pageSize}
            </if>
        </if>
    </select>
</mapper>
